.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.9;
	/* background: rgb(217, 85, 80); */
	background: none rgba(255, 255, 255, 0.2);
	box-shadow: none;
	margin-left: 10px;
	font-size: 13px;
	padding: 8px 12px;
	min-width: 70px;
	border: none;
	color: white;
}
.header-btn img {
	width: 15px;
	height: 14px;
	margin-right: 5px;
}
