.footer {
	margin-top: 40px;
	border-top: 2px solid #efefef;
	text-align: center;
	padding-top: 30px;
	color: hsl(357, 12%, 42%);
	padding-bottom: 20px;
}
.footer_nav {
	margin-bottom: 14px;
}
.footer_nav a {
	color: hsl(357, 12%, 42%);
	font-size: 14px;
	margin: 0px 4px;
	text-decoration: none;
	font-weight: bold;
}

.made {
	margin-top: 10px;
	margin-bottom: 20px;
}
.rights {
	font-size: 12px;
	color: hsl(357, 8%, 60%);
}
